<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lh.flux"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name=".FluxApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeBlue"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".view.FluxActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginActivity"/>
        <activity
            android:name=".view.SettingActivity"
            android:label="设置"/>
        <activity
            android:name=".view.WelfareRecordActivity"
            android:label="历史记录"/>
        <activity
            android:name=".crash.CrashActivity"
            android:excludeFromRecents="true"
            android:label="程序崩溃了"
            android:theme="@style/DialogBlue"/>
        <activity
            android:name=".domain.utils.PermissionActivity"
            android:theme="@style/PermissionActivityTheme"/>

        <service android:name=".service.WelfareService"/>
        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="565c8e8ae0f55a24cc0012fb"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="lh"/>
    </application>

</manifest>
